In [2]:
import pandas as pd
import seaborn as sb

In [6]:
atributes = pd.read_csv('./Datasets/attributes.csv',delimiter=',')
atributes.head()

,Unnamed: 0,business_id,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BusinessParking,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,...,CoatCheck,BestNights,Smoking,BYOBCorkage,Corkage,Open24Hours,DietaryRestrictions,AgesAllowed,RestaurantsCounterService,AcceptsInsurance
0,0,MTSW4McQd7CbVtyjqoe9mw,False,False,False,"{'garage': False, 'street': True, 'validated':...",True,1,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,9OG5YkX1g2GReZM0AskizA,True,True,True,"{'garage': False, 'street': False, 'validated'...",True,2,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,tMkwHmWFUEXrC9ZduonpTg,None,False,True,"{'garage': True, 'street': False, 'validated':...",False,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2xVsWBNFwZOxIOdd9Mwnww,False,True,True,"{'garage': False, 'street': False, 'validated'...",NaN,2,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ljxNT9p0y7YMPx0fcNBGig,False,True,True,"{'garage': False, 'street': True, 'validated':...",True,2,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
atributes.columns

Index(['Unnamed: 0', 'business_id', 'RestaurantsDelivery', 'OutdoorSeating',
       'BusinessAcceptsCreditCards', 'BusinessParking', 'BikeParking',
       'RestaurantsPriceRange2', 'RestaurantsTakeOut', 'ByAppointmentOnly',
       'WiFi', 'Alcohol', 'Caters', 'RestaurantsGoodForGroups',
       'RestaurantsAttire', 'NoiseLevel', 'GoodForKids',
       'RestaurantsReservations', 'GoodForMeal', 'RestaurantsTableService',
       'HappyHour', 'DogsAllowed', 'Ambience', 'HasTV',
       'BusinessAcceptsBitcoin', 'WheelchairAccessible', 'BYOB', 'DriveThru',
       'GoodForDancing', 'Music', 'CoatCheck', 'BestNights', 'Smoking',
       'BYOBCorkage', 'Corkage', 'Open24Hours', 'DietaryRestrictions',
       'AgesAllowed', 'RestaurantsCounterService', 'AcceptsInsurance'],
      dtype='object')

In [7]:
Rest_google = pd.read_csv('./Datasets/Restaurantes_Google.csv',delimiter=',')
Rest_google.head()

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Roux's Roadhouse 73,"Roux's Roadhouse 73, 784 WI-73, Nekoosa, WI 54457",0x88008ff5b3c52fd3:0xdbe482cf9fb221db,NaN,44.306954,-89.845783,['Restaurant'],4.2,77,NaN,"[['Thursday', '12–11PM'], ['Friday', '12PM–12A...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 11PM,"['0x88008853d02af353:0x64665a07b4a96dd2', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
1,Crepes n' Tacos Mexican Grill,"Crepes n' Tacos Mexican Grill, suit #5, 5390, ...",0x80c8db636d525e3b:0x6a51cce4b2dcc350,NaN,36.164633,-115.060780,"['Mexican restaurant', 'Crêperie', 'Ice cream ...",4.0,38,NaN,"[['Thursday', '9AM–9PM'], ['Friday', '9AM–9PM'...","{'Service options': ['Delivery'], 'Amenities':...",Permanently closed,"['0x80c8db9d89843609:0x66b93b5ccaec8958', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
2,The Big Eazy,"The Big Eazy, 2053 N Doctor M.L.K. Jr Dr, Milw...",0x8805196ab8890a87:0x837a93dd92ed9d4f,NaN,43.057658,-87.914643,"['Cajun restaurant', 'Creole restaurant']",4.2,108,$$,"[['Thursday', '11AM–10PM'], ['Friday', '11AM–9...","{'Service options': ['Delivery'], 'Amenities':...",Permanently closed,"['0x8805196ab863bab3:0x2466dc0974286f2a', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
3,Subway,"Subway, 250 E Wolf Run, Mukwonago, WI 53149",0x8805a2a887bbe777:0xb6c14a56e8897c0f,Casual counter-serve chain for build-your-own ...,42.854168,-88.314247,"['Sandwich shop', 'Caterer', 'Fast food restau...",3.5,26,$,"[['Thursday', 'Closed'], ['Friday', 'Closed'],...","{'Service options': ['Takeout', 'Dine-in'], 'D...",Temporarily closed,"['0x88059800f01c3e33:0xf0107ca9167585bc', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
4,Papa Kelsey's,"Papa Kelsey's, 165 E 1400 N, Logan, UT 84341",0x87547de0ed23364d:0x5b25d19bde61e5d,"Chain eatery serving baked subs, classic pizza...",41.758094,-111.830290,['Pizza restaurant'],4.0,38,$$,"[['Thursday', '11AM–9PM'], ['Friday', '11AM–9P...","{'Service options': ['Delivery'], 'Health & sa...",Permanently closed,"['0x87547dcf5bacaff5:0xd1d5c25dc1f66200', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

In [14]:
Rest_google.columns

Index(['name', 'address', 'gmap_id', 'description', 'latitude', 'longitude',
       'category', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC',
       'state', 'relative_results', 'url'],
      dtype='object')

In [8]:
Rest_yelp = pd.read_csv('./Datasets/Restaurantes_Yelp.csv',delimiter=',')
Rest_yelp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
1,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,AB,89502,39.476117,-119.789339,2.5,339,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Restaurants, Italian","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
2,tMkwHmWFUEXrC9ZduonpTg,The Green Pheasant,215 1st Ave S,Nashville,TN,37201,36.159886,-86.773197,4.0,161,0,"{'RestaurantsGoodForGroups': 'True', 'HappyHou...","Restaurants, Japanese, Seafood","{'Wednesday': '16:0-22:0', 'Thursday': '16:0-2..."
3,2xVsWBNFwZOxIOdd9Mwnww,Cheeseburger In Paradise,116 N Pottstown Pike,Exton,PA,19341,40.029962,-75.630607,2.5,20,0,"{'NoiseLevel': ""u'average'"", 'HasTV': 'True', ...","Restaurants, Burgers",NaN
4,ljxNT9p0y7YMPx0fcNBGig,Tony's Restaurant & 3rd Street Cafe,312 Piasa St,Alton,IL,62002,38.896563,-90.186203,3.0,94,1,"{'RestaurantsReservations': 'True', 'Restauran...","Restaurants, Specialty Food, Steakhouses, Food...","{'Monday': '0:0-0:0', 'Tuesday': '16:0-21:30',..."

In [15]:
Rest_yelp.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [33]:
Rest_yelp.shape

(15305, 14)

In [36]:
Rest_yelp.isna().sum()

business_id        0
name               0
address           86
city               0
state              0
postal_code        4
latitude           0
longitude          0
stars              0
review_count       0
is_open            0
attributes       177
categories         0
hours           2743
dtype: int64

In [22]:
Rest_yelp['categories'][0].split(',')

['Restaurants', ' Food', ' Bubble Tea', ' Coffee & Tea', ' Bakeries']

In [24]:
def desglose(columna):
    lista_categorias = []
    for row in columna:
        if row:
            palabras = row.split(',')
            for palabra in palabras:
                if palabra not in lista_categorias:
                    lista_categorias.append(palabra)
    return lista_categorias

In [26]:
categorias_yelp =  desglose(Rest_yelp['categories'])

In [31]:
len(categorias_yelp)

408