In [36]:
import pandas as pd
from keybert import KeyBERT

In [37]:
text = "quiero saber de algun restaurante donde sirvan comida italiana"

In [39]:
model = KeyBERT("distilbert-base-nli-mean-tokens")

In [40]:
keywords = model.extract_keywords(text)

In [41]:
print("Palabras clave:")
for kw in keywords:
    print(kw)

Palabras clave:
('restaurante', 0.7232)
('italiana', 0.4631)
('donde', 0.4219)
('quiero', 0.4027)
('saber', 0.3843)

In [42]:
rest_google_reviews = pd.read_csv("../ML/Google_review_test.csv",delimiter=",")
rest_google_reviews.head()

,Unnamed: 0,user_id,name_x,text
0,0,104959831058524862747,Samuel Benson,A pretty seamless experience from top to botto...
1,1,100925653611153628883,Emily Probst,Great food and great service! Being so close t...
2,2,100496729305505499660,Brianna Dungan,Pleasant location.
3,3,115619895645642399701,Aaron Tim,Finally a wingstop in Provo
4,4,115522360097670804488,Heather Ann Bruin,NaN

In [47]:
keywords = model.extract_keywords(rest_google_reviews['text'][1])

In [48]:
print("Palabras clave:")
for kw in keywords:
    print(kw)

Palabras clave:
('crowded', 0.0415)
('food', -0.0056)
('quickly', -0.0071)
('busy', -0.0306)
('amazing', -0.0806)