In [587]:
#pip install -U googlemaps

In [17]:
import pandas as pd
import re
import googlemaps
import numpy as np
import ast
import os

ModuleNotFoundError: No module named 'pandas'

In [856]:
Restaurantes=pd.read_csv('../PROYECTO_EQUIPO/Restaurantes_Google.csv')

In [857]:
Restaurantes.shape

(3223, 15)

In [858]:
Restaurantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3223 entries, 0 to 3222
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3223 non-null   object
 1   address           3219 non-null   object
 2   gmap_id           3223 non-null   object
 3   description       1061 non-null   object
 4   latitude          3223 non-null   float64
 5   longitude         3223 non-null   float64
 6   category          3223 non-null   object
 7   avg_rating        3223 non-null   float64
 8   num_of_reviews    3223 non-null   int64
 9   price             1573 non-null   object
 10  hours             2993 non-null   object
 11  MISC              3207 non-null   object
 12  state             3013 non-null   object
 13  relative_results  2581 non-null   object
 14  url               3223 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 377.8+ KB

Usando API

In [12]:
with open('../PROYECTO_EQUIPO/api.txt', 'r') as archivo:
    for linea in archivo:
      a=linea

In [13]:
# Define tu clave de API de Google Maps.
api_key = a

In [592]:
# Función para obtener la dirección, ciudad, estado y CP a partir de la latitud y longitud.
def obtener_direccion(latitud, longitud):
    # Hacer una solicitud de geocodificación inversa.
    resultado = gmaps.reverse_geocode((latitud, longitud))
    
    # Inicializar valores por defecto.
    direccion = ''
    ciudad = ''
    estado = ''
    cp = ''
    
    # Si hay resultados, buscar la información relevante.
    if resultado:
        primer_resultado = resultado[0]
        direccion = primer_resultado.get('formatted_address', '')
        for componente in primer_resultado['address_components']:
            tipos = componente.get('types', [])
            if 'locality' in tipos:
                ciudad = componente.get('long_name', '')
            elif 'administrative_area_level_1' in tipos:
                estado = componente.get('short_name', '')
            elif 'postal_code' in tipos:
                cp = componente.get('long_name', '')
    
    return direccion, ciudad, estado, cp

"\n# Define tu clave de API de Google Maps.\napi_key = 'AIzaSyCz9Tq-2caQcDwboI6ij8ZzBImpoTARIIw'\n\n# Función para obtener la dirección, ciudad, estado y CP a partir de la latitud y longitud.\ndef obtener_direccion(latitud, longitud):\n    # Hacer una solicitud de geocodificación inversa.\n    resultado = gmaps.reverse_geocode((latitud, longitud))\n    \n    # Inicializar valores por defecto.\n    direccion = ''\n    ciudad = ''\n    estado = ''\n    cp = ''\n    \n    # Si hay resultados, buscar la información relevante.\n    if resultado:\n        primer_resultado = resultado[0]\n        direccion = primer_resultado.get('formatted_address', '')\n        for componente in primer_resultado['address_components']:\n            tipos = componente.get('types', [])\n            if 'locality' in tipos:\n                ciudad = componente.get('long_name', '')\n            elif 'administrative_area_level_1' in tipos:\n                estado = componente.get('short_name', '')\n            elif 'postal_code' in tipos:\n                cp = componente.get('long_name', '')\n    \n    return direccion, ciudad, estado, cp\n\n"

In [593]:

 # Crear columnas vacías para almacenar los resultados.
Restaurantes.insert(1, 'Direccion', '')
Restaurantes.insert(2, 'Ciudad', '')
Restaurantes.insert(3, 'Estado', '')
Restaurantes.insert(4, 'CP', '')

# Iterar sobre las filas y actualizar las columnas con los resultados.
for index, row in Restaurantes.iterrows():
    direccion, ciudad, estado, cp = obtener_direccion(row['latitude'], row['longitude'])
    Restaurantes.at[index, 'Direccion'] = direccion
    Restaurantes.at[index, 'Ciudad'] = ciudad
    Restaurantes.at[index, 'Estado'] = estado
    Restaurantes.at[index, 'CP'] = cp

# Ahora, el DataFrame "df" contiene las columnas de dirección, ciudad, estado y CP con la información correspondiente.

' \n # Crear columnas vacías para almacenar los resultados.\nRestaurantes.insert(1, \'Direccion\', \'\')\nRestaurantes.insert(2, \'Ciudad\', \'\')\nRestaurantes.insert(3, \'Estado\', \'\')\nRestaurantes.insert(4, \'CP\', \'\')\n\n# Iterar sobre las filas y actualizar las columnas con los resultados.\nfor index, row in Restaurantes.iterrows():\n    direccion, ciudad, estado, cp = obtener_direccion(row[\'latitude\'], row[\'longitude\'])\n    Restaurantes.at[index, \'Direccion\'] = direccion\n    Restaurantes.at[index, \'Ciudad\'] = ciudad\n    Restaurantes.at[index, \'Estado\'] = estado\n    Restaurantes.at[index, \'CP\'] = cp\n\n# Ahora, el DataFrame "df" contiene las columnas de dirección, ciudad, estado y CP con la información correspondiente.\n'

In [594]:
Restaurantes.columns

Index(['name', 'address', 'gmap_id', 'description', 'latitude', 'longitude',
       'category', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC',
       'state', 'relative_results', 'url'],
      dtype='object')

In [595]:
Restaurantes['name'].isna().sum()

0

In [596]:
#Restaurantes['CP'].isna().sum()

In [597]:
#Ya se obtuvieron todos los datos que estaban en la columna address
Restaurantes.drop(columns='address',inplace=True)

In [598]:
#Esta columna no nos dice mucho
Restaurantes.drop(columns='state',inplace=True)

In [599]:
#No se encontró una relación interesante
Restaurantes.drop(columns='relative_results',inplace=True)

In [600]:
Restaurantes.shape

(3223, 12)

### Horarios

In [601]:
Restaurantes['hours'].isna().sum()

230

In [602]:
Restaurantes['hours'].fillna("[['Thursday', 'Horario no disponible'], ['Friday', 'Horario no disponible'], ['Saturday', 'Horario no disponible'], ['Sunday', 'Horario no disponible'], ['Monday', 'Horario no disponible'],['Tuesday', 'Horario no disponible'], ['Wednesday', 'Horario no disponible']]", inplace=True)

In [603]:
dataframes_individuales = []

for _, row in Restaurantes.iterrows():
    try:
        lista_horarios = ast.literal_eval(row['hours'])
        df = pd.DataFrame(lista_horarios, columns=['Dia', 'Horario'])
        df['gmap_id'] = row['gmap_id']
        dataframes_individuales.append(df)
    except (ValueError, SyntaxError):
        pass  # Ignora las filas con valores NaN o cadenas mal formadas.

# Concatena todos los DataFrames individuales en uno solo.
tabla_pivot_total = pd.concat(dataframes_individuales)

# Pivotea la tabla.
Tabla_Horarios = tabla_pivot_total.pivot(index='gmap_id', columns='Dia', values='Horario')

In [604]:
Tabla_Horarios.sample(2)

Dia,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
gmap_id,,,,,,,
0x89e3d19dcbee36e1:0x6dddfa9cfca27f91,11AM–10PM,Closed,11AM–10PM,11AM–8PM,11AM–10PM,Closed,11AM–10PM
0x87528791207e97cf:0xd6488449d27d19fa,12–9:30PM,12–9:30PM,12–9:30PM,2–8PM,12–9:30PM,12–9:30PM,12–9:30PM

In [ ]:
Tabla_Horarios.to_csv

In [606]:
Restaurantes.drop(columns='hours',inplace=True)

### avg_rating & num_of_reviews
Existe una disparidad entre las reviews que realmente se tienen y las que hay en Restaurantes, por lo que hay que corregir

In [607]:
RestaurantesReview=pd.read_csv('../PROYECTO_EQUIPO/Restaurantes_Google_Reviews.csv')

In [608]:
#Dice que se tienen 26 Reviews
Restaurantes[Restaurantes['gmap_id'] == '0x88050530495d82fd:0x3ed9153963d907a8']

,name,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,MISC,url
2391,Brim Cafe and Catering,0x88050530495d82fd:0x3ed9153963d907a8,NaN,43.030133,-88.022443,"['Caterer', 'Cafe', 'Coffee shop', 'Deli', 'Re...",4.5,26,NaN,"{'Service options': ['Curbside pickup', 'No-co...",https://www.google.com/maps/place//data=!4m2!3...

In [609]:
#En realidad se tienen 12 Reviews
RestaurantesReview[RestaurantesReview['gmap_id']== '0x88050530495d82fd:0x3ed9153963d907a8'].shape

(12, 8)

In [610]:
columns=['num_of_reviews','avg_rating']
Restaurantes.drop(columns=columns,inplace=True)

In [611]:
# Primero, calcula las columnas "num_of_reviews" y "avg_rating" en "RestaurantesReview".
RestaurantesReview['num_of_reviews'] = RestaurantesReview.groupby('gmap_id')['gmap_id'].transform('count')
RestaurantesReview['avg_rating'] = RestaurantesReview.groupby('gmap_id')['rating'].transform('mean')

# Luego, crea un nuevo DataFrame con las columnas que necesitas de "RestaurantesReview".
df_nuevo = RestaurantesReview[['gmap_id', 'num_of_reviews', 'avg_rating']].drop_duplicates()

In [612]:
Restaurantes = Restaurantes.merge(df_nuevo, on='gmap_id', how='left')

In [613]:
Restaurantes.sample()

,name,gmap_id,description,latitude,longitude,category,price,MISC,url,num_of_reviews,avg_rating
435,KJ's Cafe,0x52ab598a517553db:0x2c9b3f1f2ac42611,NaN,45.165088,-91.144099,['American restaurant'],NaN,"{'Service options': ['Outdoor seating', 'Takeo...",https://www.google.com/maps/place//data=!4m2!3...,37,4.513514

### Category

In [819]:
Restaurantes=pd.read_csv('../PROYECTO_EQUIPO/Restaurantes_Google.csv')

In [820]:
Category_copy= Restaurantes.copy()

In [821]:
# Supongamos que tienes un DataFrame llamado DF1 con una columna 'category' que contiene los datos en formato de cadena.

# Obtén los datos únicos de la columna 'category'
categorias_unicas = set()
for categoria in Category_copy['category']:
    categorias = ast.literal_eval(categoria)  # Convierte la cadena en una lista
    categorias_unicas.update(categorias)

categorias_unicas = list(categorias_unicas)

# Crea un DataFrame vacío con las categorías únicas como columnas
nuevo_DF = pd.DataFrame(columns=categorias_unicas)

# Itera a través de las filas de DF1 y llena el nuevo DataFrame
for index, row in Category_copy.iterrows():
    categorias = ast.literal_eval(row['category'])  # Convierte la cadena en una lista
    for categoria in categorias:
        nuevo_DF.at[index, categoria] = 1

# Rellena los valores faltantes con 0
nuevo_DF = nuevo_DF.fillna(0)

# Agrega la columna 'gmap_id' al nuevo DataFrame
nuevo_DF['gmap_id'] = Category_copy['gmap_id']

# Establece 'gmap_id' como índice
nuevo_DF.set_index('gmap_id', inplace=True)

/var/folders/gg/08x9mdfn43q02625840rv79h0000gn/T/ipykernel_55539/1762558252.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  nuevo_DF['gmap_id'] = Category_copy['gmap_id']

In [825]:
nuevo_DF.sample(2)

,Brazilian restaurant,Money transfer service,Argentinian restaurant,Indonesian restaurant,Night club,Cookie shop,Traditional American restaurant,Health food restaurant,Hookah bar,Bagel shop,...,Takeout restaurant,Middle Eastern restaurant,Salad shop,Dinner theater,Cajun restaurant,Food producer,Vitamin & supplements store,Caterer,Traditional restaurant,Rock climbing gym
gmap_id,,,,,,,,,,,,,,,,,,,,,
0x80c8c3afc86d0603:0x3d26da3c0368a0de,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0x8805048c5e5853b7:0xbfccbd860aed69ac,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [835]:
# Suma los unos en cada columna
suma_por_categoria = nuevo_DF.sum()

# Obtiene las 10 categorías principales
top_10_categorias = suma_por_categoria.nlargest(20)

# Imprime las 10 categorías principales
print("Las 20 categorías principales son:")
print(top_10_categorias)

Las 20 categorías principales son:
Restaurant              1550
Fast food restaurant     561
Takeout Restaurant       496
Pizza restaurant         430
Sandwich shop            385
Caterer                  329
American restaurant      284
Mexican restaurant       240
Delivery Restaurant      177
Breakfast restaurant     170
Bar                      169
Chinese restaurant       162
Pizza delivery           147
Coffee shop              138
Italian restaurant       126
Pizza Takeout            125
Cafe                     106
Bar & grill              105
Gas station              103
Family restaurant        100
dtype: int64

In [617]:
Restaurantes.drop(columns='category',inplace=True)

### MISC

In [758]:
MISC_copia = Restaurantes.copy()

In [759]:
MISC_copia['MISC'] = MISC_copia['MISC'].fillna('{}').apply(ast.literal_eval) #Completamos los valores faltantes en esta columna con '{}'

def convert_to_dict(val):
    # Transformamos en diccionarios reales los strings que parecen diccionarios
    if isinstance(val, str) and val.startswith("{") and val.endswith("}"):
        return ast.literal_eval(val)
    return val

MISC_copia['MISC'] = MISC_copia['MISC'].apply(convert_to_dict)

In [761]:
df_expanded = pd.json_normalize(MISC_copia['MISC'].tolist()) #Combierte la columna en una lista de diccionarios y json_normalize pasa los valores a columnas
result_df = pd.concat([MISC_copia.drop('MISC', axis=1), df_expanded], axis=1) #Combinamos el df original con el nuevo que tiene las columnas separadas

In [762]:
columns_to_drop = ['name', 'address', 'description', 'latitude', 'longitude', 
                   'category', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'state',
                   'relative_results', 'url'] #Eliminamos las columnas que no nos interesan
MISC_df = result_df.drop(columns=columns_to_drop)
MISC_df.columns

Index(['gmap_id', 'Service options', 'Health & safety', 'Highlights',
       'Popular for', 'Accessibility', 'Offerings', 'Amenities', 'Atmosphere',
       'Crowd', 'Dining options', 'Payments', 'Planning', 'From the business',
       'Health and safety'],
      dtype='object')

In [836]:
MISC_df.sample(3)

,gmap_id,Service options,Health & safety,Highlights,Popular for,Accessibility,Offerings,Amenities,Atmosphere,Crowd,Dining options,Payments,Planning,From the business,Health and safety
2895,0x87528906636645f9:0xbc5cb0845902e08b,"[Curbside pickup, Delivery, Takeout, Dine-in]","[Mask required, Staff required to disinfect su...",[Fast service],"[Lunch, Solo dining]","[Wheelchair accessible entrance, Wheelchair ac...","[Healthy options, Kids' menu, Quick bite, Vege...","[Good for kids, High chairs]",[Casual],[Tourists],"[Lunch, Catering, Dessert]","[Debit cards, NFC mobile payments]",NaN,NaN,NaN
1846,0x885077b549b9e909:0xd50672c40aa96e4d,"[Curbside pickup, No-contact delivery, Deliver...",NaN,NaN,NaN,[Wheelchair accessible entrance],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1103,0x885284dc27a0ecf9:0xc15ac80e5655aaee,"[Delivery, In-store shopping]","[Mask required, Staff required to disinfect su...",NaN,NaN,"[Wheelchair accessible entrance, Wheelchair ac...",[Check cashing],NaN,NaN,NaN,NaN,NaN,[Quick visit],NaN,NaN

In [ ]:
#result_df.to_csv

In [622]:
''' 
# Vectorización de texto con TF-IDF
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(Restaurantes['Categorias_Unidas'])

# Aplicar K-Means para agrupar las descripciones
num_clusters = 10  # Puedes ajustar este número según tus necesidades
kmeans = KMeans(n_clusters=num_clusters)
kmeans.fit(X)

# Agregar las etiquetas de los clusters al DataFrame
Restaurantes['Categoria'] = kmeans.labels_

# Calcular el centroide de cada cluster (representante del cluster)
centroides = vectorizer.inverse_transform(kmeans.cluster_centers_)

# Crear un DataFrame para las palabras clave de cada cluster
palabras_clave_df = pd.DataFrame({'Cluster': range(num_clusters), 'Palabras_Clave': [' '.join(centroid) for centroid in centroides]})

# Imprimir las palabras clave para cada cluster
for row in palabras_clave_df.itertuples():
    print(f'Cluster {row.Cluster}: {row.Palabras_Clave}')
    '''

" \n# Vectorización de texto con TF-IDF\nvectorizer = TfidfVectorizer()\nX = vectorizer.fit_transform(Restaurantes['Categorias_Unidas'])\n\n# Aplicar K-Means para agrupar las descripciones\nnum_clusters = 10  # Puedes ajustar este número según tus necesidades\nkmeans = KMeans(n_clusters=num_clusters)\nkmeans.fit(X)\n\n# Agregar las etiquetas de los clusters al DataFrame\nRestaurantes['Categoria'] = kmeans.labels_\n\n# Calcular el centroide de cada cluster (representante del cluster)\ncentroides = vectorizer.inverse_transform(kmeans.cluster_centers_)\n\n# Crear un DataFrame para las palabras clave de cada cluster\npalabras_clave_df = pd.DataFrame({'Cluster': range(num_clusters), 'Palabras_Clave': [' '.join(centroid) for centroid in centroides]})\n\n# Imprimir las palabras clave para cada cluster\nfor row in palabras_clave_df.itertuples():\n    print(f'Cluster {row.Cluster}: {row.Palabras_Clave}')\n    "

### Descripción

In [623]:
Restaurantes['description'].loc[2438]

'Family-owned bakery featuring gluten-free treats, breads & cafe fare such as soups & sandwiches.'

### PRICE

In [624]:
Restaurantes['price'].unique()

array([nan, '$$', '$', '$$$'], dtype=object)

In [625]:
print(Restaurantes['price'].isna().sum())
print(Restaurantes[Restaurantes['price'] == '$' ].shape)
print(Restaurantes[Restaurantes['price'] == '$$' ].shape)
print(Restaurantes[Restaurantes['price'] == '$$$' ].shape)

1650
(1066, 11)
(491, 11)
(16, 11)

In [ ]:
Restaurantes['hours'][3]

Sin Usar API

In [ ]:
RestaurantesReview=pd.read_csv('../PROYECTO_EQUIPO/Restaurantes_Google_Reviews.csv')

In [ ]:
RestaurantesReview.shape

(152797, 8)

In [ ]:
RestaurantesReview.sample(2)

,user_id,name,time,rating,text,pics,resp,gmap_id
24380,110948969513886041593,Tom Swan,1594008516039,5,Great burgers,NaN,NaN,0x874d83dfd0217655:0x3d7988dbded18a14
75866,113228543688972942588,Mimo Rios,1546125525146,5,Good food keep it up Nice clean Joint,NaN,NaN,0x8805ab1cf40a68c5:0x4023b292bbd95c96

### DEFINIR EL TIEMPO

In [ ]:
RestaurantesReview['text'].isna().sum()

57321

In [ ]:
RestaurantesReview['text'].loc[14]

"The place looks run down and the menu, with all of its misspellings, is a little off-putting, but the food is fantastic! I decided to give my money to a small business instead of feeding garbage corporations and I don't regret it at all. I just wish I had found this place sooner since I'm moving across the country soon. If you want great food for a good price, eat here."

In [ ]:
Texto = RestaurantesReview.dropna(subset=['text'])

In [ ]:
Texto[Texto['text'].str.contains('price')]

,user_id,name,time,rating,text,pics,resp,gmap_id
14,114044108013272837740,David Kraft,1624711191262,5,"The place looks run down and the menu, with al...",NaN,NaN,0x875289613c18358f:0x7aaf75f9f2b3aaf1
16,110815549893945895142,Josh Crawley,1622670237368,5,"Good price, better quality than any fast food ...",NaN,NaN,0x875289613c18358f:0x7aaf75f9f2b3aaf1
18,117892122904436820329,John Kurtz,1588626270833,5,This review is specific solely to their shakes...,NaN,NaN,0x875289613c18358f:0x7aaf75f9f2b3aaf1
19,103473739613187584747,justin johnson,1599876005488,5,"Fast service, great prices, tons of options. C...",NaN,NaN,0x875289613c18358f:0x7aaf75f9f2b3aaf1
20,114168444370325839114,Brad Ginn,1605475463105,5,Best take out in Midvale the best grilled ham ...,NaN,NaN,0x875289613c18358f:0x7aaf75f9f2b3aaf1
...,...,...,...,...,...,...,...,...
152767,112616412474911956008,wayne hutton,1621814828134,1,"Don't go there. Dirty tables, sticky floors, a...",NaN,NaN,0x884d0de21dc1c40f:0x67c28e193fbbb08b
152769,109451000520899128420,William Gum,1593446401399,5,"Great breakfast, the gentleman who took my ord...",NaN,NaN,0x884d0de21dc1c40f:0x67c28e193fbbb08b
152778,107828817394262004616,Robert Hall sr,1543620093852,5,Great home cooked food good prices,NaN,NaN,0x884d0de21dc1c40f:0x67c28e193fbbb08b
152779,106171379636024555558,Rhonda Jo,1579039564989,5,Great food great price,NaN,NaN,0x884d0de21dc1c40f:0x67c28e193fbbb08b
152781,117536963219999152378,J.D. Trivitt,1546010882272,4,Good food for the price.,NaN,NaN,0x884d0de21dc1c40f:0x67c28e193fbbb08b

In [ ]:
Restaurantes[Restaurantes['gmap_id']=='0x875289613c18358f:0x7aaf75f9f2b3aaf1']

,name,Direccion,Ciudad,Estado,CP,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,relative_results,url
902,M&C BURGER,"57 W Center St, Midvale, UT 84047, USA",Midvale,UT,84047,0x875289613c18358f:0x7aaf75f9f2b3aaf1,NaN,40.610737,-111.893119,['Fast food restaurant'],4.6,38,NaN,"[['Tuesday', '10AM–9PM'], ['Wednesday', '10AM–...","{'Service options': ['Delivery', 'Drive-throug...",NaN,https://www.google.com/maps/place//data=!4m2!3...

In [ ]:
RestaurantesReview[RestaurantesReview['gmap_id'] == '0x87528b3abc286eef:0x39a23d48a42613a8']

,user_id,name,time,rating,text,pics,resp,gmap_id
2494,113543449311696555768,James Fry,1626305408191,5,Probably the best burritos I have ever had.,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2495,102953276676543184770,Matt Hanson,1611864888442,5,Best street tacos in the area. Spicy isn't too...,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2496,116533936662273675585,Robert Crabtree,1625944048515,5,Good fast food,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2497,110648273375199501602,P Dunc,1612898788212,5,Favorite salsa of any taco cart location. If I...,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2498,118245648958934476553,Kevin Fraga,1616642395447,4,Good tacos just small,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2499,105450863942496500835,Tyler Abeyta,1554532889356,5,The best tacos and burritos in salt lake.,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2500,113492376791798184101,RK Kilcrease,1570819759865,5,Get the Mateo👍👍👍,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2501,104833167850722926358,My Potter,1623349485719,5,(Translated by Google) Great Casadela!\n\n(Ori...,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2502,106450672011973635732,Daniel Mussolini,1567534946664,5,(Translated by Google) Ufff very good tacos an...,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2503,101366436964110572673,Isaac Campbell,1533846983945,4,NaN,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2504,116965077164490421109,Joe Gleiter,1619815376931,5,NaN,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8
2505,116432253083457746885,Zesar A,1622582450480,5,NaN,NaN,NaN,0x87528b3abc286eef:0x39a23d48a42613a8

### DEFINIR TIEMPO

### YELP

In [844]:
ReviewYelp=pd.read_csv('../PROYECTO_EQUIPO/Restaurantes_Yelp_Reviews.csv')

In [846]:
ReviewYelp = ReviewYelp.sort_values(by='date')

In [847]:
ReviewYelp['date']

489172    2005-03-01 17:59:26
842310    2005-03-09 03:03:03
781508    2005-03-09 03:16:58
414732    2005-03-09 03:24:06
99818     2005-03-09 06:37:47
                 ...
476023    2022-01-19 19:28:27
243875    2022-01-19 19:39:46
717101    2022-01-19 19:45:43
12418     2022-01-19 19:45:56
761150    2022-01-19 19:48:25
Name: date, Length: 1191794, dtype: object

TIPS

In [848]:
TipsYelp=pd.read_csv('../PROYECTO_EQUIPO/Restaurantes_Yelp_Tips.csv')

In [849]:
TipsYelp.head(1)

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0

In [850]:
TipsYelp = TipsYelp.sort_values(by='date')

In [851]:
TipsYelp['date']

37967     2009-04-16 13:11:49
461519    2009-04-16 17:15:29
487016    2009-04-16 23:45:46
24791     2009-04-17 00:34:55
546417    2009-04-17 02:03:49
                 ...
451914    2022-01-19 17:33:53
323083    2022-01-19 18:42:44
475655    2022-01-19 18:46:08
639467    2022-01-19 19:07:52
477216    2022-01-19 20:38:55
Name: date, Length: 640808, dtype: object

USER YELP

In [852]:
UserYELP=pd.read_csv('../PROYECTO_EQUIPO/Restaurantes_User_Yelp.csv')

In [853]:
UserYELP.head(1)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180

In [ ]:
UserYELP = UserYELP.sort_values(by='date')

### Territorio

NameError: name 'pd' is not defined