In [2]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import pandas as pd
import spacy

In [3]:
df_google = pd.read_parquet('../Datasets_ML/Rest_google.parquet')
df_google.head()

,name,address,description,category,MISC,coord
0,Roux's Roadhouse 73,"Roux's Roadhouse 73, 784 WI-73, Nekoosa, WI 54457",None,[Restaurant],{'Accessibility': ['Wheelchair accessible entr...,"[44.3069541, -89.8457834]"
1,Crepes n' Tacos Mexican Grill,"Crepes n' Tacos Mexican Grill, suit #5, 5390, ...",None,"[Mexican restaurant, Crêperie, Ice cream shop,...","{'Accessibility': None, 'Amenities': ['Good fo...","[36.1646332, -115.0607804]"
2,The Big Eazy,"The Big Eazy, 2053 N Doctor M.L.K. Jr Dr, Milw...",None,"[Cajun restaurant, Creole restaurant]","{'Accessibility': None, 'Amenities': ['Good fo...","[43.0576581, -87.914643]"
3,Subway,"Subway, 250 E Wolf Run, Mukwonago, WI 53149",Casual counter-serve chain for build-your-own ...,"[Sandwich shop, Caterer, Fast food restaurant,...","{'Accessibility': None, 'Amenities': None, 'At...","[42.8541679, -88.3142471]"
4,Papa Kelsey's,"Papa Kelsey's, 165 E 1400 N, Logan, UT 84341","Chain eatery serving baked subs, classic pizza...",[Pizza restaurant],{'Accessibility': ['Wheelchair accessible entr...,"[41.7580941, -111.8302904]"

In [4]:
df_yelp = pd.read_parquet('../Datasets_ML/Rest_google.parquet')
df_yelp.head()

['Mexican restaurant',
 'Crêperie',
 'Ice cream shop',
 'Restaurant',
 'Taco restaurant']

In [6]:
model_name = "en_core_web_md"

def load_model(model_name): 
    try:
        nlp = spacy.load(model_name)
        print(f"Modelo {model_name} cargado exitosamente.")
        return nlp
    except OSError:
        print(f"El modelo {model_name} no está instalado. Descargando e instalando...")
        spacy.cli.download(model_name)
        nlp = spacy.load(model_name)
        return nlp
    
nlp_en = load_model(model_name)

Modelo en_core_web_md cargado exitosamente.

In [7]:
def df_embedding(lista):
    embeddings_lista = np.array([nlp_en(palabra).vector for palabra in lista])
    return embeddings_lista

In [8]:
df['embedding'] = df['category'].apply(df_embedding)

In [9]:
df.head()

,name,address,description,category,MISC,coord,embedding
0,Roux's Roadhouse 73,"Roux's Roadhouse 73, 784 WI-73, Nekoosa, WI 54457",None,[Restaurant],{'Accessibility': ['Wheelchair accessible entr...,"[44.3069541, -89.8457834]","[[0.9381, -3.22, -0.5307, 0.067435, 2.8444, -2..."
1,Crepes n' Tacos Mexican Grill,"Crepes n' Tacos Mexican Grill, suit #5, 5390, ...",None,"[Mexican restaurant, Crêperie, Ice cream shop,...","{'Accessibility': None, 'Amenities': ['Good fo...","[36.1646332, -115.0607804]","[[-1.15987, -0.23539498, -2.703, -0.27396, 4.7..."
2,The Big Eazy,"The Big Eazy, 2053 N Doctor M.L.K. Jr Dr, Milw...",None,"[Cajun restaurant, Creole restaurant]","{'Accessibility': None, 'Amenities': ['Good fo...","[43.0576581, -87.914643]","[[2.21758, -0.13303998, -2.2864, 0.13169, 3.77..."
3,Subway,"Subway, 250 E Wolf Run, Mukwonago, WI 53149",Casual counter-serve chain for build-your-own ...,"[Sandwich shop, Caterer, Fast food restaurant,...","{'Accessibility': None, 'Amenities': None, 'At...","[42.8541679, -88.3142471]","[[-0.55714995, -3.5712, -2.2666001, 0.8196, 3...."
4,Papa Kelsey's,"Papa Kelsey's, 165 E 1400 N, Logan, UT 84341","Chain eatery serving baked subs, classic pizza...",[Pizza restaurant],{'Accessibility': ['Wheelchair accessible entr...,"[41.7580941, -111.8302904]","[[1.34243, -2.23755, -2.9359999, 0.736055, 3.8..."

In [15]:
df['embedding'][1][2]

array([ 0.21152003, -2.5843165 , -2.1803665 ,  2.2057333 ,  2.0669    ,
       -4.247     ,  4.3139    ,  2.0972664 , -1.6210333 ,  4.3946    ,
        4.5265336 , -2.1229799 ,  0.37539992,  3.52261   ,  0.9677666 ,
       -2.6029665 ,  1.8266667 ,  0.6990301 ,  1.5033168 , -2.5270002 ,
        0.16526671,  1.7728066 , -3.2298336 ,  3.8958466 ,  0.29616   ,
        0.60355   , -3.6653335 ,  0.71066666,  1.87105   ,  1.54716   ,
        2.7654667 , -0.49175   , -3.0101967 ,  0.79626673,  3.9721    ,
       -0.04047998,  1.2039533 , -0.38583338, -0.81308   ,  0.4345    ,
       -1.1480666 ,  2.0015233 ,  2.1810968 ,  3.7127101 ,  3.46795   ,
        1.9299098 , -0.7253    ,  0.25309992,  2.64031   ,  1.2029699 ,
        3.2017002 , -1.3279643 ,  2.4067733 ,  2.0607436 ,  1.9353434 ,
       -2.2803333 , -0.08730014,  2.6710002 ,  3.4829333 ,  0.3614333 ,
        2.1828668 , -1.66919   ,  0.70056325, -1.1698967 ,  0.6067543 ,
       -3.404167  , -6.326     , -2.3063    ,  2.2901514 ,  1.8358173 ,
       -5.6454663 ,  0.93699676, -0.44319332,  1.26762   ,  1.9775667 ,
        2.8419666 , -0.53096664, -2.5021002 ,  4.7249665 , -0.03177333,
       -2.2032335 ,  3.9494932 ,  0.50773335, -2.4832    , -3.1292334 ,
        0.7740333 ,  5.088267  , -0.23636667, -4.0143332 , -0.8898533 ,
       -1.3620334 ,  0.48929533,  0.15963662,  0.2664833 ,  0.37051   ,
        2.6252    ,  4.1593995 , -2.07884   ,  2.78698   , -3.8790333 ,
        1.7525    , -3.3878334 ,  4.07865   ,  2.1348333 ,  1.6494666 ,
       -3.7848332 , -1.7569    ,  1.9820333 ,  1.8871632 , -1.4323136 ,
        0.4073266 ,  1.0123805 ,  1.7021667 ,  1.1028233 ,  1.0815333 ,
       -2.1616366 ,  0.00764338, -5.996     ,  3.5439968 , -2.7059333 ,
       -2.5065    ,  0.4135767 ,  0.6248333 ,  1.0686333 ,  4.1205735 ,
        2.3604333 , -2.0238864 , -3.341463  ,  2.6225967 , -1.3117167 ,
        1.0492233 ,  0.33045995,  1.8493334 ,  2.2739334 , -3.713733  ,
       -0.5640634 ,  1.0033253 , -3.9444666 , -0.73832685,  0.89461   ,
       -1.4507002 ,  1.4461733 , -4.870963  , -2.3903334 ,  1.1909267 ,
       -1.41355   , -4.053633  ,  0.7490733 , -0.83043337, -0.7396734 ,
       -0.07791337,  2.09961   , -4.1269093 ,  0.26049668, -0.39483333,
        1.5928001 ,  3.715913  ,  0.47735   ,  2.4768133 , -2.1645935 ,
       -0.282353  ,  0.27370024,  1.5183735 , -1.2696534 , -0.44223332,
       -2.0460334 , -1.6438433 , -0.22438335, -0.37823   , -0.66670007,
       -1.2248508 , -1.8598866 ,  1.8531733 ,  3.8673334 , -3.5464    ,
       -3.0363333 ,  4.4104505 , -0.4912    ,  3.0790002 , -1.70262   ,
       -3.7174633 , -2.9440334 , -1.6185001 , -3.3075001 , -3.0249336 ,
        0.887006  ,  0.24063337, -2.2349067 , -0.14013998,  0.9381334 ,
       -2.1744    , -0.5589066 ,  0.98956674,  2.0936334 , -0.36455336,
       -0.00899994,  1.2316234 ,  1.9682001 ,  1.7851667 , -2.5351667 ,
        3.0313466 ,  0.46591997, -0.7111933 , -1.0197667 ,  0.92467666,
        0.79694   , -2.50992   ,  2.0648668 , -0.13898635,  0.5862665 ,
        2.9368665 ,  3.2091334 ,  2.021433  ,  3.9148    ,  1.6205333 ,
       -0.7922001 ,  2.6160533 , -0.38863334, -3.0036032 , -2.9745998 ,
        0.78087664, -4.0074    , -3.3352735 , -0.83430004, -0.14997332,
       -3.579303  ,  1.9939584 ,  5.151467  ,  0.02945566,  2.8812666 ,
        0.0975    , -0.16942532,  2.5030334 , -2.0461333 ,  1.42617   ,
       -0.41622666,  3.3217192 ,  1.98323   ,  1.2149334 ,  3.4376333 ,
       -2.28696   , -1.4384233 ,  0.4141234 , -0.99956673,  0.25269994,
        2.1912735 , -0.94179994,  2.6109667 , -5.2331667 , -0.7454667 ,
       -3.4271667 , -1.6395668 , -1.5603566 ,  0.25569668, -3.2002    ,
       -1.2194    , -2.0953033 , -1.6703666 ,  0.5110466 , -0.66443336,
        0.25287667,  1.9760666 , -1.8439168 , -3.7482998 ,  1.6965    ,
        0.88869995, -0.0296967 , -1.4991666 , -4.73698   ,  3.3172667 ,
        2.3765266 , -3.0711975 , -1.0199033 ,  3.0070667 , -1.2251999 ,
       -5.2827034 , -2.00797   ,  5.480167  ,  1.0012699 , -3.5923665 ,
       -1.0324668 ,  1.03944   , -3.5986032 , -4.7561336 , -2.6232266 ,
       -3.2382336 , -2.2812002 , -0.08194999, -2.2235334 ,  1.3260332 ,
       -4.192367  , -2.8808334 ,  0.15174668, -1.2375001 , -4.2489333 ,
       -2.35874   ,  1.8452    , -2.3212767 ,  0.1305333 ,  1.3456665 ],
      dtype=float32)

In [31]:
def buscar_palabras_similares(dataframe, columna_embbeding, lista_busqueda, umbral_similitud=0.7):
    indices = []

    # Calcular embeddings para las palabras de la lista de búsqueda
    embeddings_busqueda = np.array([nlp_en(palabra).vector for palabra in lista_busqueda])

    for index, embbeding in enumerate(dataframe[columna_embbeding]):
        # Calcular la similitud coseno entre los embeddings de las palabras de la lista actual y las de búsqueda
        similitudes = cosine_similarity(embbeding, embeddings_busqueda).max(axis=1)
        # Si la similitud es mayor que el umbral, agregar el índice
        if np.any(similitudes >= umbral_similitud):
            indices.append(index)

    return indices

In [32]:
# Lista de palabras para buscar
palabras_busqueda = ['sushi', 'beer']

# Buscar palabras iguales o similares en la columna 'palabras'
indices = buscar_palabras_similares(df, 'embedding', palabras_busqueda)

print("indices", list(set(indices)))

indices [2689, 2053, 136, 22, 1303, 797, 160, 2593, 2338, 2849, 1575, 2599, 2350, 307, 820, 53, 3063, 568, 2490, 2874, 1085, 2621, 2503, 840, 2813, 204, 1101, 206, 2510, 1234, 1490, 2771, 2525, 2788, 743, 744, 1511, 2151, 2663, 2923, 1517, 1645, 1776, 2801, 2034, 115, 1907, 629, 757, 1527, 381]

In [33]:
len(indices)

51

In [34]:
df['category'].loc[indices].head(100)

22      [Sushi restaurant, Asian fusion restaurant, Ja...
53                         [Ramen restaurant, Restaurant]
115                                    [Sushi restaurant]
136     [Sushi restaurant, Japanese restaurant, Restau...
160     [Restaurant, Asian fusion restaurant, Japanese...
204     [Sushi restaurant, Asian restaurant, Japanese ...
206                                    [Sushi restaurant]
307               [Japanese restaurant, Ramen restaurant]
381     [Restaurant, Japanese restaurant, Sushi restau...
568                                    [Sushi restaurant]
629                                    [Sushi restaurant]
743     [Restaurant, Fast food restaurant, Teppanyaki ...
744     [Sukiyaki and Shabu Shabu restaurant, Japanese...
757                  [Sushi takeaway, Chinese restaurant]
797                        [Sushi restaurant, Restaurant]
820     [Japanese restaurant, Asian fusion restaurant,...
840                  [Sushi restaurant, Asian restaurant]
1085    [Japanese restaurant, Ramen restaurant, Sushi ...
1101                                   [Sushi restaurant]
1234    [Chinese restaurant, Asian restaurant, Sushi r...
1303    [Sushi restaurant, Asian restaurant, Japanese ...
1490                       [Ramen restaurant, Donut shop]
1511                                   [Sushi restaurant]
1517    [Japanese restaurant, Asian restaurant, Bar, R...
1527    [Sushi restaurant, Asian restaurant, Chinese r...
1575              [Sushi restaurant, Japanese restaurant]
1645      [Hawaiian restaurant, Poke bar, Sushi takeaway]
1776              [Sushi restaurant, Japanese restaurant]
1907    [Asian fusion restaurant, Asian restaurant, Ja...
2034    [Hawaiian restaurant, Asian restaurant, Fast f...
2053                       [Sushi restaurant, Restaurant]
2151    [Japanese restaurant, Asian restaurant, Sushi ...
2338                                   [Sushi restaurant]
2350                                   [Sushi restaurant]
2490    [Restaurant, Asian fusion restaurant, Hawaiian...
2503                                   [Sushi restaurant]
2510    [Japanese restaurant, Asian restaurant, Sushi ...
2525    [Asian restaurant, Hot pot restaurant, Japanes...
2593    [Sushi restaurant, Chinese restaurant, Japanes...
2599    [Ramen restaurant, Japanese restaurant, Korean...
2621    [Asian fusion restaurant, Steak house, Sushi r...
2663                                   [Sushi restaurant]
2689              [Sushi restaurant, Japanese restaurant]
2771    [Japanese restaurant, Bar, Restaurant, Sushi r...
2788    [Sushi restaurant, Asian restaurant, Japanese ...
2801    [Japanese restaurant, Fast food restaurant, Re...
2813    [Japanese restaurant, Asian restaurant, Buffet...
2849                                   [Ramen restaurant]
2874                                   [Sushi restaurant]
2923    [Japanese restaurant, Asian restaurant, Restau...
3063                       [Sushi restaurant, Restaurant]
Name: category, dtype: object