In [1]:
import math
import pandas as pd

In [3]:
df = pd.read_pickle('../Datasets_ML/Rest_final_ML.pickle')
df.head()

,name,address,coord,keywords,embedding
0,Roux's Roadhouse 73,"Roux's Roadhouse 73, 784 WI-73, Nekoosa, WI 54457","[44.3069541, -89.8457834]","[restaurant, takeout, dine-in, delivery, staff...","[[0.84636, -1.1249, -2.3415, -0.12289, 3.0118,..."
1,Crepes n' Tacos Mexican Grill,"Crepes n' Tacos Mexican Grill, suit #5, 5390, ...","[36.1646332, -115.0607804]","[mexican restaurant, crêperie, ice cream shop,...","[[-1.15987, -0.23539498, -2.703, -0.27396, 4.7..."
2,The Big Eazy,"The Big Eazy, 2053 N Doctor M.L.K. Jr Dr, Milw...","[43.0576581, -87.914643]","[cajun restaurant, creole restaurant, delivery...","[[-1.72852, -3.57585, -0.14324999, -0.1046505,..."
3,Subway,"Subway, 250 E Wolf Run, Mukwonago, WI 53149","[42.8541679, -88.3142471]","[sandwich shop, caterer, fast food restaurant,...","[[-1.46857, -3.8650498, -1.97485, 2.0822, 1.41..."
4,Papa Kelsey's,"Papa Kelsey's, 165 E 1400 N, Logan, UT 84341","[41.7580941, -111.8302904]","[pizza restaurant, delivery, reservations requ...","[[0.32144, -1.7504499, -3.4772, 1.227705, 1.85..."

In [4]:
# Extraer las coordenadas de latitud y longitud del usuario y del restaurante
# Radio de la Tierra en kilómetros
# Convertir latitud y longitud de grados a radianes
# Diferencia en latitud y longitud
# Fórmula de Haversine para calcular la distancia
# Distancia en kilómetros

def calculate_distance(user_location, restaurant_location):
    user_lat, user_lon = user_location
    restaurant_lat, restaurant_lon = restaurant_location
    R = 6371.0
    user_lat = math.radians(user_lat)
    user_lon = math.radians(user_lon)
    restaurant_lat = math.radians(restaurant_lat)
    restaurant_lon = math.radians(restaurant_lon)
    dlon = restaurant_lon - user_lon
    dlat = restaurant_lat - user_lat
    a = math.sin(dlat / 2)**2 + math.cos(user_lat) * math.cos(restaurant_lat) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c
    return distance

In [6]:
df['distance'] = df.apply(lambda row: calculate_distance([44.3069541, -89.8457834], row['coord']), axis=1)

In [8]:
df.head()

,name,address,coord,keywords,embedding,distance
0,Roux's Roadhouse 73,"Roux's Roadhouse 73, 784 WI-73, Nekoosa, WI 54457","[44.3069541, -89.8457834]","[restaurant, takeout, dine-in, delivery, staff...","[[0.84636, -1.1249, -2.3415, -0.12289, 3.0118,...",0.000000
1,Crepes n' Tacos Mexican Grill,"Crepes n' Tacos Mexican Grill, suit #5, 5390, ...","[36.1646332, -115.0607804]","[mexican restaurant, crêperie, ice cream shop,...","[[-1.15987, -0.23539498, -2.703, -0.27396, 4.7...",2312.044188
2,The Big Eazy,"The Big Eazy, 2053 N Doctor M.L.K. Jr Dr, Milw...","[43.0576581, -87.914643]","[cajun restaurant, creole restaurant, delivery...","[[-1.72852, -3.57585, -0.14324999, -0.1046505,...",208.345942
3,Subway,"Subway, 250 E Wolf Run, Mukwonago, WI 53149","[42.8541679, -88.3142471]","[sandwich shop, caterer, fast food restaurant,...","[[-1.46857, -3.8650498, -1.97485, 2.0822, 1.41...",203.252508
4,Papa Kelsey's,"Papa Kelsey's, 165 E 1400 N, Logan, UT 84341","[41.7580941, -111.8302904]","[pizza restaurant, delivery, reservations requ...","[[0.32144, -1.7504499, -3.4772, 1.227705, 1.85...",1803.628266

In [10]:
# ordena la columan distance de menor a mayor y resetea los indeces
df_short = df.sort_values(by='distance', ascending=True).reset_index()
df_short.head()

,index,name,address,coord,keywords,embedding,distance
0,0,Roux's Roadhouse 73,"Roux's Roadhouse 73, 784 WI-73, Nekoosa, WI 54457","[44.3069541, -89.8457834]","[restaurant, takeout, dine-in, delivery, staff...","[[0.84636, -1.1249, -2.3415, -0.12289, 3.0118,...",0.000000
1,641,Subway,"Subway, 9630 State Hwy 13 South, Wisconsin Rap...","[44.3062594, -89.810468]","[sandwich shop, caterer, fast food restaurant,...","[[-1.46857, -3.8650498, -1.97485, 2.0822, 1.41...",2.811194
2,67,Jabberjawz Bar And Dining,"Jabberjawz Bar And Dining, 3704 WI-54, Nekoosa...","[44.3443605, -89.9069743]","[bar, bar & grill, pizza restaurant, volleybal...","[[2.5152, 3.7116, -0.43402, 10.357, -0.55856, ...",6.402613
3,2407,Aaron’s Wines & Steins,"Aaron’s Wines & Steins, 160 1st St N, Wisconsi...","[44.392086, -89.8239364]","[wine bar, pizza restaurant, tapas bar, takeou...","[[-0.08985007, -1.3194999, -1.09246, 6.96045, ...",9.624307
4,2263,Baker Street Grill,"Baker Street Grill, 1716 Baker St, Wisconsin R...","[44.3930556, -89.8052778]","[bar & grill, fine dining restaurant, restaura...","[[-0.15943336, -4.1118, -0.94119996, 3.3582668...",10.101269