In [1]:
from google.cloud import bigquery
import pandas as pd
import os

In [29]:
def consulta():
    os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../ETL/credencial.json"

    client = bigquery.Client()

    db = 'restaurant_staging_dataset'
    tb_names = 'restaurants_dim'
    tb_geo = 'geographical_data_dim'
    tb_cat_google ='category_google_dim'
    tb_cat_yelp = 'category_yelp_dim'
    tb_atr_google = 'attributes_google_dim'
    tb_atr_yelp = 'attributes_yelp_dim'

    query = f"""
    SELECT
            name.name,
            geo.latitude,
            geo.longitude
    FROM
    `{db}.{tb_names}` AS name
    JOIN
    `{db}.{tb_geo}` AS geo
    ON
    name.business_id = geo.business_id;

    """

    query_job = client.query(query)
    results = query_job.result()

    rows = []
    for row in results:
        rows.append(row)

    results_df = pd.DataFrame(data=[list(x.values()) for x in rows], columns=list(rows[0].keys()))
    return results_df

In [3]:
'''
project_id = 'pure-hue-399113'
dataset_id = 'datos_crudos_google'
table_id = 'cualidades_google_crudo'
limite = 10
'''

"\nproject_id = 'pure-hue-399113'\ndataset_id = 'datos_crudos_google'\ntable_id = 'cualidades_google_crudo'\nlimite = 10\n"

In [30]:
df = consulta()

In [31]:
len(df)

53490

In [32]:
df.head()

  name   latitude   longitude
0    $  26.348095  -80.084331
1    .  42.138498  -87.962940
2    M  40.798193  -74.014895
3   JW  47.337044 -122.593467
4   PT  40.712621  -73.962286